/*ID选择器*/
#btnChooser{
    background-color: #ccc;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

/*CLASS选择器*/
.demo{
    font-weight: bold;
}

.demo1{
    color: #f40;
}

[id="helloClass"]{
    font-family: "Arial Black";
}

/*标签选择器*/
span{
    font-size: 40px;
    font-weight:bold ;
}

/*通配符选择器  !important;*/
*{
    background-color: #eeeeee;
    font-size: 20px;!important;
}